.header 
{
height:90px;
width:100%;
background-color:lightgrey;
background-image:url('abstract.jfif');
}

.logo 
{
float:left;

}

.text
{
float:right;

}
		  
.title 
{
float:center;
margin-left:30%;
}
.submit
{
float:right;
margin-left:20%;
}


		  
		  
		  
		  